---
layout: default
---

<div class="home">

  <h1>Posts</h1>
  
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == "Production" %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <!-- <a class="post-link" href="http://pages.registerguard.com/{{ post.slug }}/">{{ post.title }}</a> -->
          <a class="post-link" href="{{ post.github.repository_url }}">{{ post.title }}</a>
          <br>
          <a href="http://github.com/rgpages/{{ post.slug }}/">View on Github</a>.
          <!-- If there is a gif, display that -->
          {% if post.gif %}
            <a href="http://pages.registerguard.com/{{ post.slug }}">
              <img src="/assets/{{ post.gif }}" width="100%" style="border:1px solid black">
            </a>
          <!-- Else, display a png that's named with the slug -->
          {% else %}
            <a href="http://pages.registerguard.com/{{ post.slug }}">
              <img src="/assets/{{ post.slug }}.png" width="100%" style="border:1px solid black">
            </a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
